<!DOCTYPE html>
<html>
<head>
  <title>Test engine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "test_engine/application", media: "all" %>
  <%= javascript_include_tag "test_engine/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
